.form-group{
  input::-webkit-input-placeholder {
    color: #363636;
  }
  input::-moz-placeholder {
    color: #363636;
  }
  textarea::-webkit-input-placeholder {
    color: #363636;
  }
  textarea::-moz-placeholder {
    color: #363636;
  }
  input{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: $f16px;
    line-height: 150%;
  }
}
.img-site-abs{
  position: absolute;
  display: block;
  top: 30%;
  right: 15px;
  left: 10%;
  bottom: 0;
  .go_over{
    background: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
  }
  h3{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 125%;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}
}
.img-site-rel{
  position: relative;
}
.order-btn{
  border: 1px solid #404041;
}
@include media-breakpoint-down(lg) {
  .img-site-abs {
    top: 15px;
    h3{
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 120%;

      letter-spacing: 0.03em;
    }
  }
}
a{
  img{
    position: relative;
  }
  .button32 {
    display: inline-block;
    font-size: 180%;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em; /* смещение по вертикали */
    vertical-align: middle;
    text-align: center;
    letter-spacing: -.2em; /* сдвиг треугольника вправо */
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,.6), 0 1px 1px rgba(255,255,255,.4);
    color: #999;
    border-radius: 100%;
    background: black;
    box-shadow:
            inset 0 1px 1px rgba(255,255,255,.5),
            inset 0 -1px 1px rgba(0,0,0,.5),
            0 1px 3px rgba(0,0,0,.5);
  }
}