@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0
}

html, body {
  height: 100%;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: $fbase;
}

input {
  outline: none;
}

img {
  max-width: 100%;
}

h3 {
  font-weight: 500;
  font-size: $f50px;
  line-height: $f75px;
  letter-spacing: 0.03em;
  color: $cDark;
  margin-bottom: $f64px;
}

.mb-25 {
  margin-bottom: $f25px;
}

.bg-white {
  background: $white;
}

.h100 {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-body {
  flex: 1 0 auto;
}
.position-relative {
  position: relative;
}

footer {
  flex: 0 0 auto;
}

.bg-dark{
  background: $bg;
}

header, footer {
  padding-top: $f12px;
  padding-bottom: $f12px;
  color: $white;

  p {
    margin: 0;
  }

  .address {
    font-style: normal;
    font-weight: normal;
    font-size: $f16px;
    line-height: $f19px;
    text-decoration-line: underline;
    color: $white;
  }

  .green-link {
    color: $green;
    font-style: normal;
    font-weight: 500;
    font-size: $f14px;
    line-height: $f17px;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  .socials-links {
    div {
      padding: 0;
      padding-right: $f10px;
      &:nth-of-type(1){
        padding-left: $f15px;
      }
    }
  }
}

.to_up {
  z-index: 11000000;
  right: 5%;
  display: none;
  bottom: 50px;
  position: fixed;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  background: $bg;
  border-radius: 100%;
}

.button-left {
  position: fixed;
  top: 430px;
  left: -149px;
  transform: rotate(90deg);
  a {
    font-weight: 500;
    font-size: $f22px;
    line-height: $f22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $cDark;
  }
}
.button-right {
  position: fixed;
  top: 330px;
  right: -73px;
  transform: rotate(-90deg);
  a {
    font-weight: 500;
    font-size: $f22px;
    line-height: $f22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $cDark;
    &.color-white {
      border-right: 13px solid $white;
    }
  }
}


.color-white {
  color: $white!important;
}

.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}
.b-lazy.b-loaded {
  opacity: 1;
  max-width: 100%;
}

.image-wrapper {
  // Adding a loader and background color. The user will see it
  // if the image is loading slow.
  background: url('/assets/design/images/loading.gif') center center no-repeat;
  width: 100%
}

.b-lazy {
}


@include media-breakpoint-down(xl) {
  html {font-size: 14px;}
}

@include media-breakpoint-up(lg) {
  .mb-lg-64 {
    margin-bottom: $f64px;
  }
}
@include media-breakpoint-down(lg) {
  .button-left {
    top: 350px;
    left: -115px;
    a {
      font-size: $f16px;
      line-height: $f16px;
    }
  }
  .button-right {
    top: 200px;
    right: -59px;
    a {
      font-size: $f16px;
      line-height: $f16px;
    }
  }

  .block-grey {
    background: $gray;
    color: $cDark;
    font-style: normal;
    font-weight: normal;
    font-size: $f14px;
    line-height: $f17px;
    letter-spacing: 0.01em;
    padding-bottom: $f26px;
  }
  header {
    position: relative;
    .address {
      background: $gray;
      color: $cDark;
      font-style: normal;
      font-weight: normal;
      font-size: $f14px;
      line-height: $f17px;
      letter-spacing: 0.01em;
    }
  }
  .block-white {
    background: $white;
  }


  .capt {
    font-weight: 500;
    font-size: $f18px;
    line-height: $f22px;
    letter-spacing: 0.01em;
    margin-top: $f25px;
    margin-bottom: $f17px;
  }

  h3 {
    font-size: $f28px;
    line-height: $f34px;
    letter-spacing: 0.03em;
    font-weight: 500;
    margin-bottom: $f25px;
  }
  footer {
    padding-bottom: $f60px;
    .socials-links {
      .d-none {
        display: block!important;
      }
      .d-lg-none {
        display: none!important;
      }
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}